* { 
    border: 0;
    margin: 0;
    padding: 0;
}   

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.no-highlight {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}