@use 'variables';

#header {
        position: absolute;
        z-index: 100;
        width: 100vw;
    #header-grid-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        #header-inner-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            #logo {
                margin-left: 1.6%;
                justify-self: left;
                place-content: center;
                img {
                    cursor: pointer;
                    width: 120px;
                    height: 120px;
                    @media screen and (min-width: variables.$md) {
                        width: 150px;
                        height: 150px;                    
                    }
                }
            }
            #navbar {
                justify-self: right;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
                max-width: 1300px;
                #bidding-hero-container {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    margin-right: 20px;
                    margin-left: 20px;
                    #bidding-hero-inner-container {
                        height: 100%;
                        width: 100%;
                        place-content: center;
                        background-color: #222A34;
                        cursor: pointer;
                        border-radius: 10px;
                    }
                }
            }
            #mobile-nav {
                #menu-button-container {
                #menu-button {
                    display: grid;
                    justify-items: right;
                    align-content: center;
                    img {
                    cursor: pointer;
                    width: 90px;
                    height: 90px;
                    @media screen and (min-width: variables.$md) {
                        width: 140px;
                        height: 140px;                    
                    }
                }
                #menu-button-x {
                    color: white;
                    font-size: 50px;
                    font-family: 'Caveat', handwriting;
                    margin-right: 30px;
                    font-weight: 700;
                    cursor: pointer;

                }
                }
                height: 100%;
                position: relative;
                display: grid;
            }
            #mobile-menu {
                background-color: #222A34;
                position: absolute;
                width: 100%;
                height: 100vh;
                z-index: -1;
                left: 0;
                top: 0;
                #mobile-menu-inner-container {
                    position: absolute;
                    right: 0;
                    top: 190px;
                    width: 100%;
                    margin-right: 30px;
                    #mobile-menu-inner-container-inner {
                        width: 100%;
                        div {
                            display: grid;
                            justify-content: right;
                            a {
                                display: grid;
                                color: white;
                                font-size: 31px;
                                justify-items: right;
                                width: fit-content;
                            }
                        }
                        #projects-link-mobile {
                            
                        }
                    }
                }
            }
            }
        }
    }
}

.link-mobile-not-last {
    margin-bottom: 30px;
}

.link-mobile-not-first {
    padding-top: 30px;
}

.menu-line {
    background-color: #384758;
    height: 1px;
    width: 85vw;
    position: absolute;
    right: 0;
}

.navbar-link {
    @media screen and (min-width: variables.$lg) {
        width: 150px
    }
    @media screen and (min-width: variables.$breakpoint-2xl) {
        width: 200px
    }
    place-content: center;
    font-size: 17px;
    text-align: center;
    a {
        color: white;
    }
    a:visited {
        color: white;
    }
}

.navbar-link-blue {
    @media screen and (min-width: variables.$lg) {
        width: 150px
    }
    @media screen and (min-width: variables.$breakpoint-2xl) {
        width: 200px
    }    
    place-content: center;
    font-size: 17px;
    text-align: center;
    a {
        color: #222A34;
    }
    a:visited {
        color: #222A34;
    }
}

.unselectable {
    user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}