@use 'variables';

#homepage-header {
    #background-image {
        overflow: hidden;
        height: 100vh;
        height: 100dvh;
        z-index: 1;
        top: 0;
        position: relative;
        img {
            width: 100vw;
            height: inherit;
            object-fit: cover;
        }
    }
    #title-header {
        p {
            font-family: 'caveat', cursive !important;
            font-weight: 300;
            margin-left: 4%;
            @media screen and (max-width: variables.$lg) {
                margin-left: 0;
                font-size: 30px;
            }
        }
        width: 100%;
        position: absolute;
        color: white;
        font-size: 45px;
        z-index: 0;
        top: 45%;
        @media screen and (max-width: variables.$lg) {
            text-align: center;
        }
    }
}