@use 'variables';

#homepage-header {
    #background-image {
        overflow: hidden;
        height: 100vh;
        height: 100dvh;
        z-index: 1;
        top: 0;
        position: relative;
        img {
            width: 100vw;
            height: inherit;
            object-fit: cover;
        }
    }
    #title-header {
        p {
            font-family: 'caveat', cursive !important;
            font-weight: 300;
            margin-left: 4%;
            @media screen and (max-width: variables.$lg) {
                margin-left: 0;
                font-size: 30px;
            }
        }
        width: 100%;
        position: absolute;
        color: white;
        font-size: 45px;
        z-index: 0;
        top: 45%;
        @media screen and (max-width: variables.$lg) {
            text-align: center;
        }
    }
}

#box-container {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 10px;
    #box-container-inner {
        background-color: variables.$primary-color;
        margin: 1%;
        border-radius: 10px;
        margin-left: 5vw;
        margin-right: 5vw;
        p {
            color: white;
            height: 100px;
            display: grid;
            place-content: center;
            text-align: center;
            margin-left: 35px;
            margin-right: 35px;
            font-size: 22px;
            font-weight: 100;
            height: fit-content;
            padding-top: 65px;
            padding-bottom: 65px;
        }
    }
}